<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF0018;
   color: white;
   text-align: center;
   height:150px;
   padding: 10px;
}
</style>
</head>
<body>

<div class="footer">
  <p>Blood Bank Management System
      <br>
      RVCE &copy; 2021
      <br>
      Developed by: <br>
      AMISH CHOPRA (1RV19CS016),
      AKSHAT BANSAL (1RV19CS008),
      ABHISHEK KUMAR (1RV19CS003)
  </p>

</div>

</body>
</html> 